@{
    ViewData["Title"] = "Home Page";
}

@model List<PoGoBattleHelper.Models.Pokemon>

<div class="text-center">
    <h1 class="display-4"><strong>PoGo Battle Helper</strong></h1>
    <a asp-controller="Home" asp-action="GetType">Choose Pokemon by Type</a>
</div>


@*FOR TESTING BELOW*@
<table class="table">
        <tr>
            <th>Name</th>
            <th>Type1</th>
            <th>Type2</th>
        </tr>
        @foreach (Pokemon poke in Model)
        {
        <tr>
            <td>@poke.Name</td>
            @foreach (PoGoBattleHelper.Models.Type type in poke.Types)
            {
            <td>@type.Name</td>
            }

        </tr>
        }
    </table>


@*THIS IS HOW TO FORMAT A REGULAR IMAGE*@

@*<div>
        <img src='@Url.Content("~/images/types/POKEMON_TYPE_BUG.png")' alt="bug type" />
    </div>*@

@*FOR TESTING ABOVE*@